In [1]:
import numpy as np
import pandas as pd

### Question 1
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.1.0'

### Question 2
How many columns are in the dataset?

In [3]:
df = pd.read_csv('housing.csv')

In [5]:
df.shape[1]

10

### Question 3
Which columns in the dataset have missing values?

In [20]:
columns_with_missing_values = df.columns[df.isnull().any()]
missing_values_count = df[columns_with_missing_values].isnull().sum()

result = pd.DataFrame({'Column Name': columns_with_missing_values, 'Total Missing Values': missing_values_count}).reset_index(drop=True)

print(result)

      Column Name  Total Missing Values
0  total_bedrooms                   207

### Question 4
How many unique values does the `ocean_proximity` column have?

In [22]:
df['ocean_proximity'].nunique()

5

### Question 5
What's the average value of the `median_house_value` for the houses located near the bay?

In [27]:
np.average(df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'])

259212.31179039303

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

In [34]:
# Calculate the average of total_beedrooms column in the dataset
# The result is nan because there are missing value in the column
np.average(df['total_bedrooms'])

nan

In [36]:
# Alternatively, we can use np.nanmean to ignore the missing values
np.round(np.nanmean(df['total_bedrooms']),3)

537.871

In [44]:
# Use the fillna method to replace the missing values in ``total_bedrooms`` with the mean value from the previous step
# To avoid modifying the original column, we will create a new column copied from ``total_bedrooms``
avg_total_bedrooms = np.round(np.nanmean(df['total_bedrooms']),3)

df['total_bedrooms_fillna'] = df['total_bedrooms'].copy()
df['total_bedrooms_fillna'] = df['total_bedrooms_fillna'].fillna(avg_total_bedrooms)

In [46]:
# Calculate the average of the ``total_bedrooms_fillna`` column
np.round(np.average(df['total_bedrooms_fillna']),3)

537.871

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

In [49]:
# Select all the options located on islands
# Select only columns ``housing_median_age, total_rooms, total_bedrooms``
df[df['ocean_proximity']=='ISLAND'][['housing_median_age','total_rooms', 'total_bedrooms']]

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [50]:
# Get the underlying Numpy array. Let's call it X
X = np.array(df[df['ocean_proximity']=='ISLAND'][['housing_median_age','total_rooms', 'total_bedrooms']])

In [57]:
# Compute matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T,X)

In [58]:
# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [59]:
# create an array
y = np.array([950, 1300, 800, 1000, 1300])

In [63]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
XTX_inv_XT = XTX_inv.dot(X.T)
w = XTX_inv_XT.dot(y)

In [67]:
# last element of w
w[-1]

5.699229455065586